<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>797049291430-1nv7uj9t3an1e31n4upp7i418th8ujg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797049291430-1nv7uj9t3an1e31n4upp7i418th8ujg0</string>
	<key>API_KEY</key>
	<string>AIzaSyCz6yB3EDk0rloN153tws8LsZ8FGThY-_c</string>
	<key>GCM_SENDER_ID</key>
	<string>797049291430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pathiyugandhar.SaladApp</string>
	<key>PROJECT_ID</key>
	<string>saladapp-e4f1f</string>
	<key>STORAGE_BUCKET</key>
	<string>saladapp-e4f1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797049291430:ios:4087ccbc49451d55</string>
	<key>DATABASE_URL</key>
	<string>https://saladapp-e4f1f.firebaseio.com</string>
</dict>
</plist>